 1 file changed, 128 insertions(+), 17 deletions(-)
 sup@kimmoonsup-MacBook-Pro  ~/Documents/Spring_workspace/worm_spring_exam   master  git add .gitignore
/.metadata/
/.recommenders/
/bin/
/tmp/
/*.tmp/
/*.bak/
